body {
  margin: auto;
  width: 500px;
}
input {
  width: 22%;
}
h4 {
  display: inline-block;
  width: 120px;
}
table {
  border-collapse: collapse;
}
th,td {
  width: 20%;
  text-align: center;
  border: solid;
}

#dodaj {
  width: 150px;
}